.container {

  height: 100vh;

  background-color: $color-secondary;
  color: #fff;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    "logo logo p1 p1 p1 p1 calendar calendar . . twitch twitter"
    "logo logo p1 p1 p1 p1 calendar calendar . . youtube github"
    ". . p1 p1 p1 p1 . . p2 p2 facebook slack"
    ". . p1 p1 p1 p1 . . p2 p2 . meetup"
    "download download . . p3 p3 g1 g1 p4 p4 p4 p4"
    "download download . . p3 p3 g1 g1 p4 p4 p4 p4"
    "p5 p5 g2 g2 sponsor sponsor g1 g1 p4 p4 p4 p4"
    "p5 p5 g2 g2 sponsor sponsor g1 g1 p4 p4 p4 p4";

  @media only screen and (max-width: $bp-large) {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-template-areas:
            "logo logo p1 p1 p1 p1"
            "logo logo p1 p1 p1 p1"
            ". . p1 p1 p1 p1"
            ". . p1 p1 p1 p1"
            "download download . . p3 p3"
            "download download . . p3 p3"
            "p5 p5 g2 g2 sponsor sponsor"
            "p5 p5 g2 g2 sponsor sponsor"

            "calendar calendar . . twitch twitter"
            "calendar calendar . . youtube github"
            "p2 p2 p2 p2 facebook slack"
            "p2 p2 p2 p2 . meetup"
            "g1 g1 p4 p4 p4 p4"
            "g1 g1 p4 p4 p4 p4"
            "g1 g1 p4 p4 p4 p4"
            "g1 g1 p4 p4 p4 p4";
  }



  .home {

    //temp
    font-size: 3rem;

    &__photo {

      //background-image:
      //        linear-gradient(rgba($color-primary, .8),
      //                rgba($color-primary, .8)),
      //        url(../img/rawpixel-678089-unsplash.jpg);

      background-size: cover;
      filter: brightness(50%);

      &--1 {
        background-image:
                linear-gradient(-225deg, rgba(#F87678, 0), rgba(#2B439F, 1)),
                url(../img/home-1.jpg);
        grid-area: p1;

        // align letter
        img {
          height: 60%;
          //background-image: linear-gradient(-225deg, #F87678 0%, #2B439F 100%);
        }
      }
      &--2 {
        background-image:
                linear-gradient(-225deg, rgba(#F87678, 0), rgba(#2B439F, 1)),
                url(../img/home-2.jpg);
        grid-area: p2;
      }
      &--3 {
        background-image:
                linear-gradient(-225deg, rgba(#F87678, 0), rgba(#2B439F, 1)),
                url(../img/home-3.jpg);
        grid-area: p3;
      }
      &--4 {
        background-image:
                linear-gradient(-225deg, rgba(#F87678, 0), rgba(#2B439F, 1)),
                url(../img/home-4.jpg);
        grid-area: p4;
      }
      &--5 {
        background-image:
                linear-gradient(-225deg, rgba(#F87678, 0), rgba(#2B439F, 1)),
                url(../img/home-5.jpg);
        grid-area: p5;

        // align letter
        img {
          height: 50%;
        }

      }
    }

    &__icon {
      //fill: #fff;
    }

    &__link {
      fill: #fff;
      background-image: linear-gradient(to bottom right, #F87678 0%, #2B439F 100%);

      // align icons
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        //width: 40%;
        //height: 40%;
        width: 3rem; // 30px
        height: 3rem; // 30px
      }

      &--logo {
        grid-area: logo;
        background-image: linear-gradient(to bottom left, #F87678 0%, #2B439F 100%);

        img {
          width: 80%;
          height: 80%;
        }
      }
      &--calendar {
        background: #000000;
        grid-area: calendar;
        background-image: linear-gradient(to top right, #F87678 0%, #2B439F 100%);
        transition: all .2s;
        transform-origin: 0 0;
      }
      &--calendar:hover {
        background-image: linear-gradient(-37deg, #F87678 0%, #2B439F 100%);
        border: 1px solid #FFFFFF;
        // TODO
        transform: perspective(1000px) rotateX(10deg);
      }
      &--download {
        background: #000000;
        grid-area: download;
        background-image: linear-gradient(to bottom right, #F87678 0%, #2B439F 100%);
        transition: all .2s;
        transform-origin: 0 0;
      }
      &--download:hover {
        background-image: linear-gradient(-37deg, #F87678 0%, #2B439F 100%);
        border: 1px solid #FFFFFF;
        // TODO
        transform: perspective(1000px) rotateX(10deg);
      }
      &--sponsor {
        background: #000000;
        grid-area: sponsor;
        background-image: linear-gradient(to top right, #F87678 0%, #2B439F 100%);
        transition: all .2s;
        transform-origin: 0 0;
      }
      &--sponsor:hover {
        background-image: linear-gradient(-37deg, #F87678 0%, #2B439F 100%);
        border: 1px solid #FFFFFF;
        // TODO
        transform: perspective(1000px) rotateX(10deg);
      }

      &--twitch {
        grid-area: twitch;
      }
      &--twitter {
        grid-area: twitter;
      }
      &--youtube {
        grid-area: youtube;
      }
      &--github {
        grid-area: github;
      }
      &--facebook {
        grid-area: facebook;
      }
      &--slack {
        grid-area: slack;
      }
      &--meetup {
        grid-area: meetup;
      }
    }

  }

  .event {
    display: none;
  }

  .gradient {

    &--1 {
      grid-area: g1;
      background-image: linear-gradient(to bottom right, #F87678 0%, #2B439F 100%);
    }
    &--2 {
      grid-area: g2;
      background-image: linear-gradient(to bottom right, #F87678 0%, #2B439F 100%);
    }

  }

}
